In [36]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity  # To compute similarity scores

Tasks:

Task 1: EDA
Task 2: Data Wrangling / Feature Engineering

Task 2: Data Wrangling and Feature Engineering

Check for outliers, missing data, null values, etc...

Can you come up with any new features?

Handle the 'genres' feature

In [4]:
df_movie = pd.read_csv('movies.csv')
df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
df_movie.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [7]:
# Can you come up with any new features? , Handle the 'genres' feature

genre_features = df_movie['genres'].str.get_dummies(sep='|') # .str--> Tells pandas: “Treat each value as a string”, 

# get_dummies() --> Means: “Create binary (0/1) columns for each category”
# sep='|' --> Tells pandas: “Split each string using | before creating columns”
df_model = pd.concat([df_movie[['movieId','title']], genre_features], axis=1)
df_model.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_ratin = pd.read_csv('ratings.csv')
df_ratin.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
df_ratin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [10]:
df_ratin.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [11]:
skew_rat = df_ratin.skew()
skew_rat

userId      -0.079036
movieId      2.210804
rating      -0.637199
timestamp   -0.008777
dtype: float64

Merge both data frames on movieId, and call this DataFrame, Merged_df

Create a new DataFrame to hold the User-Item Matrix data, called UI_Matrix_df

index = 'userId'
columns = 'title'
values = 'rating'

In [30]:
# merging both data into one as "Merged_df"
Merged_df = df_ratin.merge(df_model, on='movieId', how='left')
Merged_df.head(10)

,userId,movieId,rating,timestamp,title,(no genres listed),Action,Adventure,Animation,Children,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,964982703,Toy Story (1995),0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,3,4.0,964981247,Grumpier Old Men (1995),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,6,4.0,964982224,Heat (1995),0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
5,1,70,3.0,964982400,From Dusk Till Dawn (1996),0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
6,1,101,5.0,964980868,Bottle Rocket (1996),0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
7,1,110,4.0,964982176,Braveheart (1995),0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,1,151,5.0,964984041,Rob Roy (1995),0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
9,1,157,5.0,964984100,Canadian Bacon (1995),0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [34]:
# Create a new DataFrame to hold the User-Item Matrix data, called UI_Matrix_df

UI_Matrix_df = Merged_df.pivot_table(
    index='userId',  # Users as rows
    columns='title',  # Animes as columns
    values='rating'  # Ratings as values
)

# Fill missing values (unrated animes) with 0

print("USER-item MATRIX : ", UI_Matrix_df.shape)
# user_item_filled
UI_Matrix_df

USER-item MATRIX :  (610, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

Task 3-A:  Memory Based Collaborative Filtering:
1 - Creating the User-User Matrix 
   - Populate the row-wise NaN's in UI_Matrix_df based on the User's Ratings
   - Try both Cosine and Pearson Similarities

2 - Write a function to predict the Rating that a UserId (UID) might give for a given MovieId (MID)
   - Rank order the similarity of UID to all other UserIds 
   - Predicted Rating = weighted avg. (based on similarity score) of k similar users' ratings of MID
   
3 -Test your function by predicting what User 1 might rate movieId 32 based on the top 50 users.

In [ ]:
# 1 - Creating the User-User Matrix 
#    - Populate the row-wise NaN's in UI_Matrix_df based on the User's Ratings
#    - Try both Cosine and Pearson Similarities

# cosine_similarity(UI) → user-user (rows compared)
# cosine_similarity(UI.T) → item-item (columns compared)

user_item_filled = UI_Matrix_df.fillna(0)

# Cosine Similarities 

user_similarity = cosine_similarity(user_item_filled)

# Convert to DataFrame with anime IDs as row and column labels
user_similarity_df = pd.DataFrame(
    user_similarity ,
    index=UI_Matrix_df.index,
    columns=UI_Matrix_df.index
)
user_similarity_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
607,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
608,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
609,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
610,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

In [ ]:
# Pearson Similarities
#  Use Pearson when:  You have ratings
                    # You want to compare rating behavior
                    # You care about relative preferences


# "T"(transpose, swap) --> it cahnges row to colmun and column to row, so since i am doing user-user, i need to be the column as user instead of item
#  becasue "corr" goes through colmuns not rows , if i need item-item then I dont need to have "T" 
Pearson_user_similarity = UI_Matrix_df.T.corr(method='pearson')
Pearson_user_similarity

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,NaN,0.079819,0.207983,0.268749,-0.291636,-0.118773,0.469668,0.918559,-0.037987,...,0.091574,-2.071128e-16,-0.061503,-0.407556,-0.164871,0.066378,0.174557,0.268070,-0.175412,-0.032086
2,NaN,1.000000,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,-0.387347,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN,0.623288
3,0.079819,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.433200,NaN,NaN,-0.791334,-0.333333,-0.395092,NaN,0.569562
4,0.207983,NaN,NaN,1.000000,-0.336525,0.148498,0.542861,0.117851,NaN,0.485794,...,-0.222113,3.966413e-01,0.090090,-0.080296,0.400124,0.144603,0.116518,-0.170501,-0.277350,-0.043786
5,0.268749,NaN,NaN,-0.336525,1.000000,0.043166,0.158114,0.028347,NaN,-0.777714,...,0.000000,1.533034e-01,0.234743,0.067791,-0.364156,0.244321,0.231080,-0.020546,0.384111,0.040582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.066378,0.583333,-0.791334,0.144603,0.244321,-0.049192,0.137771,0.253582,0.572700,-0.382955,...,0.290490,1.406134e-01,0.318473,0.682949,0.167062,1.000000,0.114191,0.240842,0.533002,0.389185
607,0.174557,NaN,-0.333333,0.116518,0.231080,0.255639,0.402792,0.251280,NaN,-0.241121,...,0.698241,2.172105e-01,0.192787,0.035806,-0.299641,0.114191,1.000000,0.200814,0.190117,0.106605
608,0.268070,-0.125000,-0.395092,-0.170501,-0.020546,0.125428,0.008081,0.434423,0.336625,-0.571043,...,0.473967,2.976461e-01,0.086423,0.053986,-0.075673,0.240842,0.200814,1.000000,0.488929,0.147606
609,-0.175412,NaN,NaN,-0.277350,0.384111,0.193649,0.420288,0.141860,NaN,NaN,...,1.000000,1.885115e-01,0.343303,0.641624,-0.550000,0.533002,0.190117,0.488929,1.000000,-0.521773
610,-0.032086,0.623288,0.569562,-0.043786,0.040582,0.115580,0.341233,0.167931,0.615638,-0.205081,...,0.007025,4.926267e-02,0.270908,0.310611,0.462274,0.389185,0.106605,0.147606,-0.521773,1.000000

In [44]:
# geting similar users
def get_users(user_id):

    result = Merged_df[Merged_df['userId'] == user_id]['userId']
    return result.values[0] if len(result) > 0 else f'Unknown (ID : {user_id})'

In [ ]:
# 2 - Write a function to predict the Rating, that a UserId (UID) might give for a given MovieId (MID) --> 
#    - Rank order the similarity of UID to all other UserIds 
#    - Predicted Rating = weighted avg. (based on similarity score) of k similar users' ratings of MID

userId = 1

similar_users =Pearson_user_similarity[userId].sort_values(ascending=False)

print(f'Top 5 animes similar to "{get_users(userId)}":')

# displaying top 5 users
for user_id_similar , score in similar_users[1:6].items():
    print(f"{get_users(user_id_similar)} : {score:.4f}")

Top 5 animes similar to "1":
106 : 1.0000
146 : 1.0000
598 : 1.0000
1 : 1.0000
333 : 1.0000

Task 3-B:  Create a Item-based Collaborative Filtering Method:
 1 - Creating the Item-Item Matrix
   - Populate column-wise NaN's in UI_Matrix_df based on the Movie's Ratings
   - Try both Cosine and Pearson Similarities
 2 - Write a function to predict the top-N most similar movies to MovieId (MID) based on all ratings
   - Rank order the similarity of MID to all other movies
   - Return the top-N most similar movies
 3 - Test your function by predicting what are the most similar movies to Jurassic Park (1993)